@charset "utf-8";

/* .FirstView img {
  opacity: 0;
  animation: fadeIn 2s forwards ease-out; 
  animation-delay: 1s;
}
@keyframes fadeIn {
  to {
    opacity: 1; 
  }
}  */



/* ===== fade in animation ===== */
.fade-in {
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 1.0s ease, transform 1.0s ease;
}

.fade-in.is-show {
  opacity: 1;
  transform: translateY(0);
}

/* hover演出 */
/* .hover-accent {
  transition: background-color .3s ease, opacity .3s ease;
} */


/* ===== fade up animation ===== */
.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity .9s ease, transform .9s ease;
}

.fade-up.is-show {
  opacity: 1;
  transform: translateY(0);
}

/* delay */
.delay-1 {
  transition-delay: .2s;
}
.delay-2 {
  transition-delay: .4s;
}
.delay-3 {
  transition-delay: .6s;
}
.delay-4 {
  transition-delay: .8s;
}
.delay-5 {
  transition-delay: 1.0s;
}
.delay-6 {
  transition-delay: 1.2s;
}
.delay-7 {
  transition-delay: 1.4s;
}
.delay-8 {
  transition-delay: 1.6s;
}
.delay-9 {
  transition-delay: 1.8s;
}
.delay-10 {
  transition-delay: 2.0s;
}

/* ===== fade left animation ===== */
.fade-left {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity .9s ease, transform .9s ease;
}

.fade-left.is-show {
  opacity: 1;
  transform: translateX(0);
}

/* ===== fade left animation ===== */
.fade-right {
  opacity: 0;
  transform: translateX(30px);
  transition: opacity .9s ease, transform .9s ease;
}

.fade-right.is-show {
  opacity: 1;
  transform: translateX(0);
}


/* スクロールバー */
/* .container_04 {
  height: 300px;
  background-color: #cdb5b5;
} */

.scrollbar-text_04 {
  display: inline-block;
  position: absolute;
  bottom: 0;
  padding: 10px 10px 110px;
  color: #fff;
  font-size: 14px;
  font-family: serif;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  left: 5%;
  transform: translateX(-50%);
}

.scrollbar_04 {
  position: absolute;
  left: 5%;
  transform: translateX(-50%);
  bottom: 1px;
}

.scrollbar_04::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 100px;
  background: #fff;
}

.scrollbar_04::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  animation: circlemove 3s ease-in-out infinite,
    cirlemovehide 3s ease-out infinite;
}

@keyframes circlemove {
  0% {
    bottom: 95px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}