@charset "utf-8";

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN",
  "Hiragino Sans", Meiryo, sans-serif;
}

/* ヘッダー設定 */
header {
  width: 100%;
  height: 90px;
  background: #708271;
  position: fixed;  
  z-index: 20;  /*前面に出す*/
  /* opacity: 0.9; : 透明*/ 
}

@media screen and (max-width: 768px){
  header {
    height:  75px;
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aquamarine; */
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .header-inner {
    max-width: 90%;
  }
}

h1.header-title {
  width: 675px;
  height: auto;
  color :#FAF9F6;
  font-family: "Zen Kaku Gothic New", sans-serif;
  letter-spacing: 0.1em;
  font-size: 28px; 
  font-weight: 900;
  white-space: nowrap;
  /* background-color: gray;  */
}

@media screen and (max-width: 768px) {
  h1.header-title {
    width: 60%;
    font-size : 20px;
  }
}
@media screen and (max-width: 850px) {
  header nav {
    display: none;
  }
}

/* ナビゲーション部分  */
header nav ul {
  display: flex;
  gap: 1.5em;
  /* background-color: aliceblue; */
}

/* ナビのaタグ自体の装飾 */
.header-menu a {
  padding: 8px 12px;
  color: #333333;
  transition: color .3s ease;
}
.header-menu a:hover,
.header-menu a:focus-visible {
  color: #2F5D50;
}
/* お問い合わせボタンのみ */
.header-menu .contact {
  padding: 0.6em 1.4em;
  color: #2F5D50;
  border: 1px solid #2F5D50;
  border-radius: 6px;
  margin-left: 1.5em;
}
.header-menu .contact:hover {
  color: #1f3f2b;   /* 文字色少し変化 */
}
.header-toggleBtn {
  display: none;
}
@media screen and (max-width: 850px){
  .header-toggleBtn {
    display: block;
    /* width: 42%; */
    width: 42px;
    height: 24px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
  }
}
/* ハンバーガーメニュー 三本ライン */
.header-hamburgerLine {
  display: block;
  position:absolute;
  width: 42px;
  height: 3px;
  background: #FAF9F6;
  transition: all 0.5s;
}
.header-hamburgerLine:nth-child(1) {
  top: -3px;
}
.header-hamburgerLine:nth-child(2) {
  top: 9px;
}
.header-hamburgerLine:nth-child(3) {
  top: 21px;
}

/* ハンバーガーメニュークリックで×にする */
.js-open .header-hamburgerLine:nth-child(1) {
  transform: translateY(11px) rotate(-45deg);
}
.js-open .header-hamburgerLine:nth-child(2) {
  transform: translateY(-1px) rotate(45deg);
}
.js-open .header-hamburgerLine:nth-child(3) {
  display: none;
}

/* ハンバーガーメニューをクリック時*/
/* 右側に半透明な背景を出す  */
.header-mask {
  position: fixed;
  top: 75px;
  right: 0;
  width: 40%;
  height: calc(100vh - 75px);
  background: #FAF9F6;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease;
}
.header-maskNav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2.5rem;
  padding-top: 4rem;
}

/* 開いた状態 */
/* テキスト右揃え */
header.js-open .header-mask {
  opacity: 1;
  visibility: visible;
}
.header-maskMenu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: end;
}
.header-maskLink {
  font-size: 1rem;
  color:#333333;
}

/* ----------ファーストビュー---------- */
.firstview {
  position:relative;
  height: 100vh;
}

.firstview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fadeIn 2s forwards ease-out; 
  animation-delay: 0s;
} 
.firstview-titlewrap {
  opacity: 0;
  animation: fadeIn 1.2s ease-out forwards;
  animation-delay: .6s;
}
@keyframes fadeIn {
  to {
    opacity: 1; 
  }
} 

.firstview-titlewrap {
  position: absolute;
  top:40%;
  left: 10%;
  padding: 1.5em 2em;
  background: rgba(250, 249, 246, 0.6);
  border-radius: 4px;
}

.fv-lead {
  font-size: 1.125rem;
  padding-bottom: .5em;
  font-weight: 500;
}
.fv-text {
  font-size: 1rem;
  line-height: 1.7;
}
@media screen and (max-width: 768px){
  .firstview-titlewrap {
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 1.2em 1.5em;
  }
    .fv-lead {
    font-size: 1rem; /* 16px */
  }

  .fv-text {
    font-size: 0.875rem; /* 14px */
    line-height: 1.6;
  }
  
  /* .firstview {
  height: 100vh;
  } 
  .firstview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
}




/*sectionの設定*/
/*section共通*/
/*見出し*/
/* h2 {
  margin-left: 10%;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 2rem;
  color: #2F5D50;
  font-weight: bold;
  padding-left: 15px; 
  border-left: 2px solid #708271; 
  border-bottom: 1px solid #ddd; 
  padding-bottom: 10px;
  margin-bottom: 2rem; 
}  */
h2 {
  margin-left: 10%;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 2rem;
  color: #2F5D50;
  font-weight: 900;
  margin-bottom: 2rem;
  position: relative;
}
h2::after {
  content: "";
  display: block;
  width: 56px;
  height: 2px;
  background: #708271;
  margin-top: 10px;
}

h3 {
  /*小見出し*/
  color: #2F5D50;
  font-size: 1.5rem;
  /* font-weight: normal; */
  font-weight: 500;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.6rem;
    margin-left: 4%;
  }
    h3 {
    font-size: 1.25rem;
    text-align: center;
    margin-left: 4%;
  }
    p {
      font-size: 0.9rem;
    }
}

/* ----------aboutセクション---------- */
.about {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .about {
    margin-top: 40px;
  }
}

.about-inner {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
.contentwrap {
  width: 55%;
}
.about-text {
  margin-bottom: 1em; /* 行間を１行分（1em）あける */
}
.about-image {
  width: 45%;
}

/* 正方形にして、丸型に切り出しトリミング */
.about-image {
  width: 300px;        /* ← 正方形 */
  height: 300px;
  border-radius: 50%;  /* ← 丸くする */
  overflow: hidden;    /* ← はみ出しを隠す */
}
.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* ← トリミング */
  display: block;
}

@media screen and (max-width:768px) {
  .about-inner {
    flex-direction: column-reverse; /*画像を上に*/
    width: 90%;
    gap: 40px;
  }
  .contentwrap,
  .about-image {
    width: 100%;
  }
  .about-text {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .about-image {
    width: 220px;
    height: 220px;
  }
}
/* ----------serviceセクション---------- */
.service {
  margin-top: 80px;
}
.service-inner {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .service-inner {
    width: 90%;
    height: auto;
  }
}
.service-list {
  display: flex;
  gap: 60px;
}
@media screen and (max-width: 768px) {
  .service-list {
    flex-direction: column;
    gap: 40px;
  }
}
.service-item {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .service-item {
    width: 100%;
  }
}

.service-image {
  width: 100%;
  height: 220px;        /* 高さを揃える */
  overflow: hidden;    /* はみ出しを隠す */
}
.service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media screen and (max-width: 768px) {
  .service-image {
    height: 200px;
  }
}
.sub-title {
  text-align: center;
}

/* ----------skillセクション---------- */
.skill {
  margin-top: 80px;
}
.skill-inner {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .skill-inner {
    width: 90%;
    height: auto;
  }
}
.skill-list {
  display: flex;
  align-items: center;
  gap: 60px;
}
.skill-column{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
  /* background: pink; */
}
.skill-item {
  display: flex;
  gap: 24px;
  /* align-items: flex-start; */
  align-items: center;
}
.skill-icons img {
  width: 100px;
}
.skill-icons-multi img {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .skill-list {
    flex-direction: column;
    gap: 40px;
  }
  .skill-column {
    width: 100%;
    gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .skill-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
}
  /* SPでは横並びに切り替える */
@media screen and (max-width: 768px) {
  .skill-icons-multi  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
  .skill-icons-multi img {
    width: 80px;
  }
}


/* ----------worksセクション---------- */
.works {
  margin-top: 80px;
}
.works-inner {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .works-inner {
    width: 90%;
    height: auto;
  }
}
.works-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.item-title {
  /* color: #333333; */
  text-align: center;
  margin-bottom: 16px;
}
.item-img-double {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
  /* background-color: bisque; */
}
.img-box {
  width: 180px;      
  height: 120px;
  display: flex;
  align-items: center;      
  justify-content: center;  
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.item-text {
  max-width: 600px;   
  margin: 0 auto;     
  text-align: left;   
}

.item-img-single {
  max-width: 600px;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  overflow: hidden;
}
.item-img-single img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 /* display: block; */
}
.coming-soon {
  width: 600px;
  height: 180px;          /* 他の横長画像と揃える */
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.coming-soon h3 {
  font-size: 1.2rem;
  color: #777;
  letter-spacing: 0.08em;
}

/* そのままPRACTICEに入る */
.practice-title h3 {
  color: #2F5D50; /* サイト全体を統一 */
  font-weight: 500; /* 強すぎず読みやすく */
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .practice-title {
    margin-bottom: 24px; 
  }
}
.practice-inner {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  /* background-color: aliceblue; */
}
.practice-list {
  display: flex;
  align-items: center;
  gap: 60px;
}
.practice-item {
  display: flex;
  flex-direction: column;   /* 上下に並べる */
  align-items: center;      /* 横方向の中央揃え */
  text-align: center;       /* テキストも中央 */
  width: 50%;               /* PC表示で半分ずつ */
  /* background-color: papayawhip; */
}
.practice-image {
  width: 60%;
}

.practice-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.item-sub-title {
  width: 100%;
  font-size: 1.2rem;
  color :#2F5D50;   /*ここも色を統一*/
  text-align: center;
}
.practice-note {
  text-align: right;
  padding-right: 16px;
}
@media screen and (max-width: 768px) {
  .practice-list {
    flex-direction: column;
    gap: 24px; 
  }
  .practice-item {
    width: 100%; 
  }
  .practice-image {
    width: 100%; 
  }
  .item-sub-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .practice-note {
    font-size: 0.8rem;
    text-align: center;
    padding-right: 0;
  }
}

/* ----------contactセクション---------- */
.contact {  
  background-color: #F7F5F0;
  margin-top: 80px;
}
.contact-inner {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}
.contact-text-inner {
  width: 70%;
  margin: 0 auto;
}
.contact-text {
    padding-bottom: 1em;
}