@charset "utf-8";

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN",
  "Hiragino Sans", Meiryo, sans-serif;
}

/* ヘッダー設定 */
header {
  width: 100%;
  height: 90px;
  background: #708271;
  position: fixed;
  z-index: 20;
  /* opacity: 0.9; : 透明*/ 
}

@media screen and (max-width: 768px){
  header {
    height:  75px;
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aquamarine; */
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .header-inner {
    max-width: 90%;
  }
}

h1.header-title {
  width: 675px;
  height: auto;
  color :#FAF9F6;
  font-family: "Zen Kaku Gothic New", sans-serif;
  letter-spacing: 0.1em;
  font-size: 28px; 
  font-weight: 900;
  white-space: nowrap;
  /* background-color: gray;  */
}

@media screen and (max-width: 768px) {
  h1.header-title {
    width: 60%;
    font-size : 20px;
  }
}
@media screen and (max-width: 850px) {
  header nav {
    display: none;
  }
}

/* ナビゲーション部分  */
header nav ul {
  display: flex;
  gap: 1.5em;
  /* background-color: aliceblue; */
}

/* ナビのaタグ自体の装飾 */
.header-menu a {
  padding: 8px 12px;
  color: #333333;
  transition: color .3s ease;
}
.header-menu a:hover,
.header-menu a:focus-visible {
  color: #2F5D50;
}
/* お問い合わせボタンのみ */
.header-menu .contact {
  padding: 0.6em 1.4em;
  color: #2F5D50;
  border: 1px solid #2F5D50;
  border-radius: 6px;
  margin-left: 1.5em;
}
.header-menu .contact:hover {
  color: #1f3f2b;   /* 文字色少し変化 */
}
.header-toggleBtn {
  display: none;
}
@media screen and (max-width: 850px){
  .header-toggleBtn {
    display: block;
    /* width: 42%; */
    width: 42px;
    height: 24px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
  }
}
/* ハンバーガーメニュー 三本ライン */
.header-hamburgerLine {
  display: block;
  position:absolute;
  width: 42px;
  height: 3px;
  background: #FAF9F6;
  transition: all 0.5s;
}
.header-hamburgerLine:nth-child(1) {
  top: -3px;
}
.header-hamburgerLine:nth-child(2) {
  top: 9px;
}
.header-hamburgerLine:nth-child(3) {
  top: 21px;
}

/* ハンバーガーメニュークリックで×にする */
.js-open .header-hamburgerLine:nth-child(1) {
  transform: translateY(11px) rotate(-45deg);
}
.js-open .header-hamburgerLine:nth-child(2) {
  transform: translateY(-1px) rotate(45deg);
}
.js-open .header-hamburgerLine:nth-child(3) {
  display: none;
}

/* ハンバーガーメニューをクリック時*/
/* 右側に半透明な背景を出す  */
.header-mask {
  position: fixed;
  top: 75px;
  right: 0;
  width: 40%;
  height: calc(100vh - 75px);
  background: #FAF9F6;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease;
}
.header-maskNav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2.5rem;
  padding-top: 4rem;
}

/* 開いた状態 */
/* テキスト右揃え */
header.js-open .header-mask {
  opacity: 1;
  visibility: visible;
}
.header-maskMenu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: end;
}
.header-maskLink {
  font-size: 1rem;
  color:#333333;
}

/* ファーストビュー */
.firstview {
  position:relative;
  height: 100vh;
}

.firstview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fadeIn 2s forwards ease-out; 
  animation-delay: 0s;
} 
.firstview-titlewrap {
  opacity: 0;
  animation: fadeIn 1.2s ease-out forwards;
  animation-delay: .6s;
}
@keyframes fadeIn {
  to {
    opacity: 1; 
  }
} 

.firstview-titlewrap {
  position: absolute;
  top:40%;
  left: 10%;
  padding: 1.5em 2em;
  background: rgba(250, 249, 246, 0.6);
  border-radius: 4px;
}

.fv-lead {
  font-size: 1.125rem;
  padding-bottom: .5em;
  font-weight: 500;
}
.fv-text {
  font-size: 1rem;
  line-height: 1.7;
}
@media screen and (max-width: 768px){
  .firstview-titlewrap {
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 1.2em 1.5em;
  }
    .fv-lead {
    font-size: 1rem; /* 16px */
  }

  .fv-text {
    font-size: 0.875rem; /* 14px */
    line-height: 1.6;
  }
  
  /* .firstview {
  height: 100vh;
  } 
  .firstview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
}




/*sectionの設定*/
/*section共通*/
h2 {
  /*見出し*/
  margin-left: 10%;
  color: #2F5D50;
  font-weight: bold;
  font-size: 2.25rem;
  letter-spacing: 0px;
}

h3 {
  /*小見出し*/
  font-size: 1.5rem;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.6rem;
    margin-left: 4%;
  }
}

/* aboutセクション */
.about {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .about {
    margin-top: 40px;
  }
}

.about-inner {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
.contentwrap {
  width: 55%;
}
.about-text {
  margin-bottom: 1em; /* 行間を１行分（1em）あける */
}
.about-image {
  width: 45%;
}
.about-image img {
  width: 100%;
  height: auto;
}

@media screen and (max-width:768px) {
  .about-inner {
    flex-direction: column;
    width: 90%;
    gap: 40px;
  }
  .contentwrap,
  .about-image {
    width: 100%;
  }
  .about-text {
    font-size: 0.9rem;
  }
}